body{
  color: #dbdcd7;
   background: #000;
    
}
 .star{
     width: 200px;
     height: 200px;
     background: linear-gradient(to bottom,
     #dbdcd7 0%,
     #6dff68 36%,
     #26a722 59%,
     #0f7e0b 84%,
     #066a02  100%);
     margin-left: 100px;
     margin-top: 30px;
     filter: drop-shadow(0 0 2 rem #066a02);
     border-radius: 50%;
     animation: ifizee 2s ease-in-out infinite;
 }
 @keyframes ifizee {
     from{
         transform: translate(0, 0px);
     }
     65%{
         transform: translate(0,10px);
     }
         to{

            transform: translate(0,0px);
         }
     }
     
 